h1{
    color:red;
}

#subtitulo{
    color:green;
}

.parrafo{
    color:blue;
}

#box{
    width: 800px;
    background: cyan;
}

.inline, .block{
    color: white;
    margin: 10px;
    padding: 10px;
    background: purple;
    border: 3px solid green;
}

.block{
    background: red;
}